<p-toast></p-toast>
<div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
        <div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
            <div class="flex flex-col items-center justify-center">
                <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
                    <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
                        <div class="text-center mb-8">
                            <img src="assets/images/UJKZ.png" alt="Logo ujkz" style="max-width: 120px; margin-bottom: 0.3rem;">
                            <h5 style="margin-top: 0.2rem; font-size: 1.5rem;">
                                <span style="color: green;">SIG</span><span style="color: red;">RML</span>
                            </h5>
                            <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Bienvenue!</div>
                            <span class="text-muted-color font-medium">Connectez-vous pour continuer</span>
                        </div>

                        <form (ngSubmit)="connexion()" [formGroup]="formulaireconnexion">
                            <label for="email1" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Email</label>
                            <input pInputText id="email1" type="text" placeholder="Email address" class="w-full md:w-[30rem] mb-8" formControlName="email" />

                            <label for="password" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Mot de passe</label>
                            <input pInputText id="password" type="password" placeholder="Mot de passe" class="w-full md:w-[30rem] mb-8" formControlName="password" />

                            <div class="flex items-center justify-between mt-2 mb-8 gap-8">
                                <div class="flex items-center">
                                    <p-checkbox formControlName="rememberme" id="rememberme1" binary class="mr-2"></p-checkbox>
                                    <label for="rememberme1">Se souvenir de moi</label>
                                </div>
                                <span class="font-medium no-underline ml-2 text-right cursor-pointer text-primary">Mot de passe oublie?</span>
                            </div>
                            <div *ngIf="messageErreur" class="text-red-500 text-center mb-4">
                                {{ messageErreur }}
                            </div> 
                            <p-button type="submit" label="Connexion" [disabled]="formulaireconnexion.invalid" styleClass="w-full"></p-button>  
                            <!-- Lien vers la page de connexion -->
                <div class="text-center mt-8">
                    <span class="text-muted-color">Vous n'avez pas de compte?</span>
                    <a (click)="navigateToRegister()"  class="font-medium no-underline ml-2 text-primary cursor-pointer">Créez-en un</a>
                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </div>
   