<p-toast/>
<p-toolbar styleClass="mb-6">
    <ng-template #end>
        <p-button label="Exporter" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="reservations()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['equipementName', 'userName', 'date_debut', 'date_fin', 'status','endAt','startAt']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} reservations"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Gestion des Réservations</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Recherche..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th pSortableColumn="equipement" style="min-width:16rem">
                Équipement
                <p-sortIcon field="equipement" />
            </th>
            <th pSortableColumn="user" style="min-width:16rem">
                Reservant
                <p-sortIcon field="user" />
            </th>
            <th pSortableColumn="dateDebut" style="min-width:16rem">
                Date Début
                <p-sortIcon field="dateDebut" />
            </th>
            <th pSortableColumn="dateFin" style="min-width:16rem">
                Date Fin
                <p-sortIcon field="dateFin" />
            </th>
            <th pSortableColumn="statut" style="min-width:16rem">
                Statut
                <p-sortIcon field="statut" />
            </th>
            <th style="min-width: 12rem">Actions</th>
        </tr>
    </ng-template>
    <ng-template #body let-reservation>
        <tr>
            <td style="min-width: 16rem">{{ reservation.equipementName }}</td>
            <td style="min-width: 16rem">{{ reservation.userName }}</td>
            <td style="min-width: 16rem">{{ reservation.date_debut | date:'dd/MM/yyyy' }}</td>
            <td style="min-width: 16rem">{{ reservation.date_fin | date:'dd/MM/yyyy' }}</td>
            <td>
                @switch (reservation.status) {
                    @case ('en attente') {
                        <p-badge value="En attente" severity="info" />
                    }
                    @case ('acceptee') {
                        <p-badge value="Acceptée" severity="success" />
                    }
                    @case ('refusee') {
                        <p-badge value="Refusée" severity="danger" />
                    }
                    @case ('annulee') {
                        <p-badge value="Annulée" severity="warn" />
                    }
                    @default {
                        -
                    }
                }
            </td>
            <td>
                <p-button icon="pi pi-check" class="mr-2" [rounded]="true" [outlined]="true"
                    (click)="validateReservation(reservation)"
                    pTooltip="Accepter la réservation" tooltipPosition="top"
                    />
            
                <p-button icon="pi pi-times" severity="danger" class="mr-2" [rounded]="true" [outlined]="true"
                    (click)="cancelReservation(reservation)"
                    pTooltip="Annuler la réservation" tooltipPosition="top"
                    [disabled]="reservation.status === 'acceptee'" />
            
                <p-button icon="pi pi-eye" [rounded]="true" [outlined]="true"
                    (click)="viewReservation(reservation)"
                    pTooltip="Voir la réservation" tooltipPosition="top" />
            </td>
            
            
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="reservationDialog" [style]="{ width: '600px' }" header="Détails de la Réservation" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-4">
            <div class="flex justify-between items-center">
                <span class="font-bold">Équipement :</span>
                <span>{{ reservation.equipementName }}</span>
            </div>
            <div class="flex justify-between items-center">
                <span class="font-bold">Utilisateur :</span>
                <span>{{ reservation.user_id }}</span>
            </div>
            <div class="flex justify-between items-center">
                <span class="font-bold">Date Début :</span>
                <span>{{ reservation.date_debut | date:'dd/MM/yyyy' }}</span>
            </div>
            <div class="flex justify-between items-center">
                <span class="font-bold">Date Fin :</span>
                <span>{{ reservation.date_fin | date:'dd/MM/yyyy' }}</span>
            </div>
            <div class="flex justify-between items-center">
                <span class="font-bold">Statut :</span>
                <span>{{ reservation.status }}</span>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Fermer" icon="pi pi-times" text (click)="hideDialog()" />
    </ng-template>
</p-dialog>


<p-confirmdialog [style]="{ width: '450px' }" />
