<p-toast />
<p-confirmDialog />

<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Nouveau" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Supprimer" icon="pi pi-trash" outlined (onClick)="deleteSelectedLaboratoires()" [disabled]="!selectedLaboratoires || !selectedLaboratoires.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (click)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="laboratoires"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['nom', 'description', 'ufr', 'responsable']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedLaboratoires"
    [rowHover]="true"
    dataKey="_id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Gestion des Laboratoires</h5>
            <p-iconField>
                <p-inputIcon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." />
            </p-iconField>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="nom" style="min-width:16rem">
                Nom <p-sortIcon field="nom" />
            </th>
            <th pSortableColumn="description" style="min-width:16rem">
                Description <p-sortIcon field="description" />
            </th>
            <th pSortableColumn="ufr" style="min-width:16rem">
                UFR <p-sortIcon field="ufr" />
            </th>
            <th pSortableColumn="responsable" style="min-width:16rem">
                Responsable <p-sortIcon field="responsable" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-laboratoire>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="laboratoire" />
            </td>
            <td style="min-width: 16rem">{{ laboratoire.nom }}</td>
            <td style="min-width: 16rem">{{ laboratoire.description }}</td>
            <td style="min-width: 16rem">{{ laboratoire.ufr?.intitule }}</td>
            <td style="min-width: 16rem">{{ laboratoire.responsable?.firstname }} {{ laboratoire.responsable?.lastname }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editLaboratoire(laboratoire)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteLaboratoire(laboratoire)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="laboratoireDialog" [style]="{ width: '450px' }" header="Ajouter un laboratoire" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="nom" class="block font-bold mb-3">Nom</label>
                <input type="text" pInputText id="nom" [(ngModel)]="laboratoire.nom" required autofocus [style]="{ 'width': '100%' }" />
                <small class="text-red-500" *ngIf="submitted && !laboratoire.nom">Le nom est obligatoire.</small>
            </div>
           
            <div>
                <label for="description" class="block font-bold mb-3">Description</label>
                <textarea type="text" pInputText id="description" [(ngModel)]="laboratoire.description" required autofocus [style]="{ 'width': '100%' }"></textarea>
                <small class="text-red-500" *ngIf="submitted && !laboratoire.description">La description est obligatoire.</small>
            </div>

            <!-- Dropdown pour sélectionner l'UFR -->
            <div>
                <label for="ufr" class="block font-bold mb-3">UFR</label>
                <p-dropdown
                    id="ufr"
                    [options]="ufrs"
                    [(ngModel)]="laboratoire.ufr"
                    optionLabel="intitule"
                    placeholder="Sélectionner une UFR"
                    [style]="{ 'width': '100%' }"
                ></p-dropdown>
                <small class="text-red-500" *ngIf="submitted && !laboratoire.ufr">L'UFR est obligatoire.</small>
            </div>

            <!-- Dropdown pour sélectionner le responsable -->
            <div>
                <label for="responsable" class="block font-bold mb-3">Responsable</label>
                <p-dropdown
                    id="responsable"
                    [options]="responsables"
                    [(ngModel)]="laboratoire.responsable"
                    optionLabel="fullName"
                    placeholder="Sélectionner un responsable"
                    [style]="{ 'width': '100%' }"
                ></p-dropdown>
                <small class="text-red-500" *ngIf="submitted && !laboratoire.responsable">Le responsable est obligatoire.</small>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Annuler" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Enregistrer" icon="pi pi-check" (click)="saveLaboratoire()" />
    </ng-template>
</p-dialog>