<p-toast />
<p-confirmDialog />

<p-toolbar styleClass="mb-6">
    <ng-template #start *ngIf="role === 'responsable'">
        <p-button label="Nouveau" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Supprimer" icon="pi pi-trash" outlined (onClick)="deleteSelectedEquipements()" [disabled]="!selectedEquipements || !selectedEquipements.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Exporter" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="equipements()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['name', 'description', 'etat', 'acquereur', 'typeAcquisition']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedEquipements"
    [rowHover]="true"
    dataKey="_id"
    currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Gestion des Équipements</h5>
            <p-iconField>
                <p-inputIcon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." />
            </p-iconField>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="name" style="min-width:16rem">
                Nom <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="description" style="min-width:16rem">
                Description <p-sortIcon field="description" />
            </th>
            <th pSortableColumn="estDisponible" style="min-width:16rem">
                Disponibilité <p-sortIcon field="estDisponible" />
            </th>
            <th pSortableColumn="estMutualisable" style="min-width:16rem">
                Mutualisation <p-sortIcon field="estMutualisable" />
            </th>
            <th pSortableColumn="etat" style="min-width:16rem">
                État <p-sortIcon field="etat" />
            </th>
            <th pSortableColumn="acquereur" style="min-width:16rem">
                Acquéreur <p-sortIcon field="acquereur" />
            </th>
            <th pSortableColumn="typeAcquisition" style="min-width:16rem">
                Type d'Acquisition <p-sortIcon field="typeAcquisition" />
            </th>
            <th pSortableColumn="laboratoire" style="min-width:16rem">
                Laboratoire <p-sortIcon field="laboratoire" />
            </th>
            <th pSortableColumn="image" style="min-width:16rem">
                Image <p-sortIcon field="image" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-equipement>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="equipement.id" />
            </td>
            <td style="min-width: 16rem">{{ equipement.nom }}</td>
            <td style="min-width: 16rem">{{ equipement.description }}</td>
            <td style="min-width: 16rem">{{ equipement.estdisponible ? 'Oui' : 'Non' }}</td>
            <td style="min-width: 16rem">{{ equipement.estmutualisable ? 'Oui' : 'Non' }}</td>            
            <td style="min-width: 16rem">{{ equipement.etat }}</td>
            <td style="min-width: 16rem">{{ equipement.acquereur }}</td>
            <td style="min-width: 16rem">{{ equipement.typeacquisition }}</td>
            <td style="min-width: 16rem">{{ equipement.laboratoire?.nom }}</td>
            <td style="min-width: 12rem">
                @if (equipement.image) {<img [src]="getImageUrl(equipement.image)" alt=""[ngStyle] ="{ width: '50px', height: '50px' }">
                    }
                    @else {
                        <span class="text-muted
                        ">Pas d'image</span>
                       }
            </td>
            <td *ngIf="role === 'responsable'">
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editEquipement(equipement)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteEquipement(equipement)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="equipementDialog" [style]="{ width: '800px' }" header="Ajouter un equipement" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <!-- Nom et Description -->
            <div class="block font-bold mb-2">
                <label for="nom" class="block font-bold mb-2">Nom</label>
                <input type="text" pInputText id="nom" [(ngModel)]="equipement.nom" required autofocus class="w-full" />
                <small class="text-red-500" *ngIf="submitted && !equipement.nom">Le nom est obligatoire.</small>
            </div>
            <div class="block font-bold mb-2">
                <label for="description" class="block font-bold mb-2">Description</label>
                <textarea pInputTextarea id="description" [(ngModel)]="equipement.description" required class="border border-gray-400 p-2 w-full"></textarea>
                <small class="text-red-500" *ngIf="submitted && !equipement.description">La description est obligatoire.</small>
            </div>

            <!-- Disponibilité et Mutualisation -->
            <div class="grid grid-cols-2 gap-4">
                <div class="flex items-center gap-2">
                    <label class="font-semibold">Disponibilité :</label>
                    <p-toggleswitch [(ngModel)]="equipement.estdisponible"></p-toggleswitch>
                    <span class="font-bold" [ngClass]="{'text-green-500': equipement.estdisponible, 'text-red-500': !equipement.estdisponible}">
                        {{ equipement.estdisponible ? 'Oui' : 'Non' }}
                    </span>
                </div>
                <div class="flex items-center gap-2">
                    <label class="font-semibold">Mutualisation :</label>
                    <p-toggleswitch [(ngModel)]="equipement.estmutualisable"></p-toggleswitch>
                    <span class="font-bold" [ngClass]="{'text-green-500': equipement.estmutualisable, 'text-red-500': !equipement.estmutualisable}">
                        {{ equipement.estmutualisable ? 'Oui' : 'Non' }}
                    </span>
                </div>
            </div>

            <!-- État -->
            <div>
                <label for="etat" class="block font-bold mb-2">État</label>
                <p-dropdown [(ngModel)]="equipement.etat" [options]="dropdownValues" placeholder="Sélectionner un état" class="w-full"></p-dropdown>
                <small class="text-red-500" *ngIf="submitted && !equipement.etat">L'état est obligatoire.</small>
            </div>

            <!-- Acquéreur et Type d'Acquisition -->
            <div class="grid grid-cols-2 gap-4">
                <div class="w-full">
                    <label for="acquereur" class="block font-bold mb-2">Acquéreur</label>
                    <input type="text" pInputText id="acquereur" [(ngModel)]="equipement.acquereur" required class="w-full" />
                </div>
                <div class="w-full">
                    <label for="typeacquisition" class="block font-bold mb-2">Type d'Acquisition</label>
                    <input type="text" pInputText id="typeacquisition" [(ngModel)]="equipement.typeacquisition" required class="w-full" />
                </div>
            </div>

            <!-- Laboratoire -->
            <div>
                <label for="laboratoire" class="block font-bold mb-2">Laboratoire</label>
                <p-dropdown [(ngModel)]="equipement.laboratoire_id" [options]="laboratoires" optionLabel="nom" optionValue="id" placeholder="Sélectionner un laboratoire" class="w-full"></p-dropdown>
                
            </div>

            <!-- Image -->
            <div>
                <label for="image" class="block font-bold mb-2">Image de l'équipement</label>
                <input type="file" id="image" (change)="onFileChange($event)" accept="image/jpeg, image/png, image/jpg, image/gif" class="w-full" />
            </div>

            <!-- Aperçu de l'image -->
            <div *ngIf="equipement.image" class="flex justify-center">
                <img [src]="equipement.image" alt="Image de l'équipement" class="mt-3 w-32 h-32 object-cover rounded" />
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Annuler" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Enregistrer" icon="pi pi-check" (click)="saveEquipement()" />
    </ng-template>
</p-dialog>